/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: gray;
}

nav {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}

main img {
  width: 7%;
}


#players {
  display: flex;
  justify-content: center;
  margin: 8px 5px;
}

div img {
  width: 10.1%;
  margin: 0 8px;
}







/******************************************
/* GRID CODE
/*******************************************/
/* .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 50%;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 8px;
 
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
} */




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
